.Wrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    font-family: Montserrat, sans-serif;
}

.Links {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    padding-right: 10%;
}

.Links p {
    padding: 0;
    font-size: 20px;
    margin-right: 5%;
}

.Links h1 {
    padding: 0;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 426px) {
    .Wrapper {
        justify-content: space-between;
        padding: 0 5%;
    }
    .Links {
        width: 50%;
        justify-content: flex-end;
        padding: 0;
    }
    .Links p {
        display: none;
    }
    .Links h1 {
        font-size: 16px;
    }
}