@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");

.Layout {
  overflow: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

.Wrapper {
  width: 100%;
  /* width: calc(100% + 8px);
  height: 100%;
  min-height: 5800px;
  background: #212121; */
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: inherit;
  position: absolute;
  font-family: Montserrat, sans-serif;
  padding: 0;
  z-index: 5;
}

.demo {
  position: relative;
  width: 70%;
  margin-bottom: 12%;
}

@media (max-width: 425px) {
  .Layout::-webkit-scrollbar {
    width: 5px !important;
    background: transparent;
    opacity: 0.8;
  }

  .Layout::-webkit-scrollbar-thumb  {
    width: 5px !important;
    background: #8A2BE2;
    border-radius: 5px;
  }
}