@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.Huge_text {
  font-family: Montserrat, sans-serif;
  line-height: 90px;
  font-weight: 500;
  text-align: center;
  color: rgb(var(--foreground));
  padding: 0 10%;
  z-index: 2;
}

.p72 {
  font-size: 72px;
}

.p56 {
  font-size: 56px;
}

.p30 {
  font-size: 30px;
}

@media (max-width: 426px) {
  .Huge_text {
    padding-left: 2%;
    padding-right: 2%;
  }

  .p72 {
    font-size: 40px;
    line-height: 48px;
  }
  .p56 {
    font-size: 36px;
    line-height: 40px;
  }
  .p30 {
    font-size: 20px;
    line-height: 28px;
  }
}